In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ricardo.sa\appdata\local\continuum\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in c:\users\ricardo.sa\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\ricardo.sa\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\ricardo.sa\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in c:\users\ricardo.sa\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [6]:
import pandas as pd

In [11]:
dados = pd.read_csv('dados.tsv', dep='\t')

In [15]:
dados.shape

(1704, 6)

In [16]:
dados.columns

Index(['pais', 'continente', 'ano', 'expectativa vida', 'populacao', 'pib'], dtype='object')

In [18]:
for col in dados.columns:
    print(col)

pais
continente
ano
expectativa vida
populacao
pib

In [19]:
type(dados.columns)

pandas.core.indexes.base.Index

In [21]:
dados.index

RangeIndex(start=0, stop=1704, step=1)

In [23]:
dados.index

RangeIndex(start=0, stop=1704, step=1)

In [24]:
dados.dtypes

pais                 object
continente           object
ano                   int64
expectativa vida    float64
populacao             int64
pib                 float64
dtype: object

In [26]:
dados.head(2)

          pais continente   ano  expectativa vida  populacao         pib
0  Afghanistan       Asia  1952            28.801    8425333  779.445314
1  Afghanistan       Asia  1957            30.332    9240934  820.853030

In [27]:
dados.tail(2)

          pais continente   ano  expectativa vida  populacao         pib
1702  Zimbabwe     Africa  2002            39.989   11926563  672.038623
1703  Zimbabwe     Africa  2007            43.487   12311143  469.709298

In [28]:
dados.columns

Index(['pais', 'continente', 'ano', 'expectativa vida', 'populacao', 'pib'], dtype='object')

In [32]:
df = dados

In [33]:
df['pais']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: pais, Length: 1704, dtype: object

In [41]:
#cols = ['pais', 'ano']
#df[cols]
#mesma coisa que abaixo
df[['pais','ano','pib']].head(10)

          pais   ano         pib
0  Afghanistan  1952  779.445314
1  Afghanistan  1957  820.853030
2  Afghanistan  1962  853.100710
3  Afghanistan  1967  836.197138
4  Afghanistan  1972  739.981106
5  Afghanistan  1977  786.113360
6  Afghanistan  1982  978.011439
7  Afghanistan  1987  852.395945
8  Afghanistan  1992  649.341395
9  Afghanistan  1997  635.341351

In [43]:
sub_conj = df[['pais','ano','pib']]

In [44]:
sub_conj ["ano"]

0       1952
1       1957
2       1962
3       1967
4       1972
5       1977
6       1982
7       1987
8       1992
9       1997
10      2002
11      2007
12      1952
13      1957
14      1962
15      1967
16      1972
17      1977
18      1982
19      1987
20      1992
21      1997
22      2002
23      2007
24      1952
25      1957
26      1962
27      1967
28      1972
29      1977
        ...
1674    1982
1675    1987
1676    1992
1677    1997
1678    2002
1679    2007
1680    1952
1681    1957
1682    1962
1683    1967
1684    1972
1685    1977
1686    1982
1687    1987
1688    1992
1689    1997
1690    2002
1691    2007
1692    1952
1693    1957
1694    1962
1695    1967
1696    1972
1697    1977
1698    1982
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: ano, Length: 1704, dtype: int64

In [47]:
s1 = pd.Series(['a','b','c'], index=[1,3,5])

In [48]:
s1[1]

'a'

In [51]:
s1[2]

KeyError: 2

In [52]:
s1[3]

'b'

In [53]:
s1[1:3]

3    b
5    c
dtype: object

In [54]:
s1.loc[1:3]

1    a
3    b
dtype: object

In [55]:
s1.iloc[1:3]

3    b
5    c
dtype: object

In [58]:
df[['ano', 'populacao']]

       ano  populacao
0     1952    8425333
1     1957    9240934
2     1962   10267083
3     1967   11537966
4     1972   13079460
5     1977   14880372
6     1982   12881816
7     1987   13867957
8     1992   16317921
9     1997   22227415
10    2002   25268405
11    2007   31889923
12    1952    1282697
13    1957    1476505
14    1962    1728137
15    1967    1984060
16    1972    2263554
17    1977    2509048
18    1982    2780097
19    1987    3075321
20    1992    3326498
21    1997    3428038
22    2002    3508512
23    2007    3600523
24    1952    9279525
25    1957   10270856
26    1962   11000948
27    1967   12760499
28    1972   14760787
29    1977   17152804
...    ...        ...
1674  1982    9657618
1675  1987   11219340
1676  1992   13367997
1677  1997   15826497
1678  2002   18701257
1679  2007   22211743
1680  1952    2672000
1681  1957    3016000
1682  1962    3421000
1683  1967    3900000
1684  1972    4506497
1685  1977    5216550
1686  1982    6100407
1687  1987    7272406
1688  1992    8381163
1689  1997    9417789
1690  2002   10595811
1691  2007   11746035
1692  1952    3080907
1693  1957    3646340
1694  1962    4277736
1695  1967    4995432
1696  1972    5861135
1697  1977    6642107
1698  1982    7636524
1699  1987    9216418
1700  1992   10704340
1701  1997   11404948
1702  2002   11926563
1703  2007   12311143

[1704 rows x 2 columns]

In [59]:
df.loc[0,'ano']

1952

In [60]:
df.loc[0:4, 'populacao']

0     8425333
1     9240934
2    10267083
3    11537966
4    13079460
Name: populacao, dtype: int64

In [68]:
df.iloc[0,2]

1952

In [69]:
df.ano.mean()

1979.5

In [86]:
df_ex1 = df.groupby('ano').mean()
#df_ex1['expectativa vida'].loc[1977]
df_ex1['expectativa vida']

ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: expectativa vida, dtype: float64

In [87]:
for i in range(0, len(df_ex1)):
    print(df_ex1.iloc[i])

expectativa vida    4.905762e+01
populacao           1.695040e+07
pib                 3.725276e+03
Name: 1952, dtype: float64
expectativa vida    5.150740e+01
populacao           1.876341e+07
pib                 4.299408e+03
Name: 1957, dtype: float64
expectativa vida    5.360925e+01
populacao           2.042101e+07
pib                 4.725812e+03
Name: 1962, dtype: float64
expectativa vida    5.567829e+01
populacao           2.265830e+07
pib                 5.483653e+03
Name: 1967, dtype: float64
expectativa vida    5.764739e+01
populacao           2.518998e+07
pib                 6.770083e+03
Name: 1972, dtype: float64
expectativa vida    5.957016e+01
populacao           2.767638e+07
pib                 7.313166e+03
Name: 1977, dtype: float64
expectativa vida    6.153320e+01
populacao           3.020730e+07
pib                 7.518902e+03
Name: 1982, dtype: float64
expectativa vida    6.321261e+01
populacao           3.303857e+07
pib                 7.900920e+03
Name: 1987, dtype: float64
expectativa vida    6.416034e+01
populacao           3.599092e+07
pib                 8.158609e+03
Name: 1992, dtype: float64
expectativa vida    6.501468e+01
populacao           3.883947e+07
pib                 9.090175e+03
Name: 1997, dtype: float64
expectativa vida    6.569492e+01
populacao           4.145759e+07
pib                 9.917848e+03
Name: 2002, dtype: float64
expectativa vida    6.700742e+01
populacao           4.402122e+07
pib                 1.168007e+04
Name: 2007, dtype: float64

In [84]:
for item in df_ex1:
    print(item)
    break

expectativa vida

In [88]:
df.continente.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [89]:
df.continente.nunique()

5

In [91]:
df.describe()

              ano  expectativa vida     populacao            pib
count  1704.00000       1704.000000  1.704000e+03    1704.000000
mean   1979.50000         59.474439  2.960121e+07    7215.327081
std      17.26533         12.917107  1.061579e+08    9857.454543
min    1952.00000         23.599000  6.001100e+04     241.165876
25%    1965.75000         48.198000  2.793664e+06    1202.060309
50%    1979.50000         60.712500  7.023596e+06    3531.846989
75%    1993.25000         70.845500  1.958522e+07    9325.462346
max    2007.00000         82.603000  1.318683e+09  113523.132900